{% extends 'base.html' %}

{% block titulo %} - Cadastro Ambiente{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
<div class="card mb-3" id="card_chave">
    <h3 id="tema_chave" style="text-align: center;">Cadastro de Ambiente</h3>
    <hr>
    <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nome da Sala/Ambiente</label>
                <input type="text" class="form-control" id="inputEmail4" name="nome_ambiente" placeholder="Sala informatica.../Auditorio">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Observação</label>
                <input type="text" class="form-control" id="inputPassword4" name="observacao_ambiente" placeholder="Quantidade de carteiras ou computadores...">
            </div>
            <div class="col-12">
                <button id="cadastrar_ambiente" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

<!-- card pesquisa -->
 <div class="card mb-3" id="card_chave">
    <h3 style="text-align: center;">Pesquisa Ambiente</h1>
    <hr>
    <div class="col-12">
    <div class="d-flex justify-content-center">
        <form method="get" action="{{ url_for('consultar_ambiente') }}" role="search">
            <div class="d-flex justify-content-center">
                <input type="text"class="form-control"id="formGroupExampleInput"placeholder="Pesquise a chave" name="ambiente">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    </div>
    <hr>
<div class="d-flex gap-3">
{% for ambiente in ambientes %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ ambiente.ambiente }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ ambiente.observacao_ambiente }}</li>
    <li class="list-group-item">{{ ambiente.disponivel_ambiente }}</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-outline-warning">Editar</button>
    <button type="button" class="btn btn-outline-danger">Deletar</button>
  </div>
</div>
{% endfor %}
 
</div>
{% endblock %}