{% extends 'base.html' %}

{% block titulo %} - Cadastro Ambiente{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
<div class="card mb-3" id="card_chave">
    <h3 id="tema_chave" style="text-align: center;">Cadastro de Ambiente</h3>
    <hr>
    <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nome da Sala/Ambiente</label>
                <input type="text" class="form-control" id="inputEmail4" name="nome_ambiente" placeholder="Sala informatica.../Auditorio">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Observação</label>
                <input type="text" class="form-control" id="inputPassword4" name="observacao_ambiente" placeholder="Quantidade de carteiras ou computadores...">
            </div>
            <div class="col-12">
                <button id="cadastrar_ambiente" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}