{% extends 'base.html' %}

{% block titulo %} - Cadastro Chave{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
<!-- card form -->
    <div class="card mb-3" id="card_chave">
        <h3 id="tema_chave" style="text-align: center;">Cadastro de Chave</h3>
        <hr>
      <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nome da Chave</label>
                <input type="text" class="form-control" id="inputEmail4" name="nome_chave" placeholder="Chave Laboratorio...">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Identificador da Chave</label>
                <input type="text" class="form-control" id="inputPassword4" name="identificador" placeholder="Cor-Detalhe-Formato">
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Foto da Chave</label>
                <input type ="file" class="form-control" id="inputAddress2" name="foto">
            </div>
            <!-- adicionar o for dps -->
            <div class="col-6">
                <label for="inputAddress" class="form-label">Ambiente</label>
                <input type="text" class="form-control" id="inputAddress" name="ambiente">
            </div>
            <div class="col-12">
                <button id="cadastrar_chave" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
      </div>
    </div>


<!-- card pesquisa -->
 <div class="card mb-3" id="card_chave">
    <h3 style="text-align: center;">Pesquisa Chave</h1>
    <hr>
    <div class="col-12">
        <form method="get" action="{{ url_for('consultar_chave') }}" role="search">
            <div class="d-flex justify-content-center">
                <input type="search"class="form-control"id="formGroupExampleInput"placeholder="Pesquise a chave" name="nome_chave">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    <hr>
<div class="d-flex gap-3">
{% for chave in chaves %}
    <div class="card" style="width: 18rem;">
    <img src="/static/img/icon_user.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ chave.nome_chave }}</h5>
        <p class="card-text">{{ chave.identificador }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ chave.observacao }}</li>
        <li class="list-group-item">{{ chave.disponivel }}</li>
    </ul>
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">Editar</button>
        <button type="button" class="btn btn-outline-danger">Deletar</button>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}