{% extends 'base.html' %}

{% block titulo %} - Home{% endblock %}

{% block usuario %} Pedro {% endblock %}


{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3" method="POST" action="{{ url_for('devolucao') }}">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Perfil</label>
                <select name="perfil" class="form-select">
                    <option selected>Selecione um perfil...</option>
                    {% for perfil in perfils %}
                    <option value="{{ perfil.id_perfil }}">{{ perfil.nome_perfil }}</option>
                    {% endfor %}
                </select>
            </div>
<!-- alterar dps nao pode ser for tem que ser um campo normal com verificacao no app -->
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Numero de Reserva</label>
                <select name="reserva"class="form-select">
                    <option selected>Selecione um perfil...</option>
                    {% for reserva in reservas %}
                    <option value="{{ reserva.id_reserva }}">{{ reserva.id_reserva }}</option>
                    {% endfor %}                    
                </select>
            </div>
            <div class="row col-12">

                <div class="col-7"></div>


                    <div class="d-flex align-items-end justify-content-end gap-2">

                         <!-- Observacao -->
                        <div class="col-8">
                            <label for="dataReserva" class="form-label">Observação</label>
                            <input type="text" class="form-control" id="dataReserva" name="Observacao_devolucao">
                        </div>

                        <!-- Data -->
                        <div>
                            <label for="dataReserva" class="form-label">Data</label>
                            <input type="date" class="form-control" id="dataReserva" name="data_devolucao">
                        </div>

                        <!-- Horário -->
                        <div>
                            <label class="form-label">Horário</label>
                            <div class="d-flex align-items-center gap-1">
                                <input type="time" class="form-control" name="horario_inicio" id="horaInicio">
                                <span>:</span>
                                <input type="time" class="form-control" name="horario_fim" id="horaFim">
                            </div>
                        </div>

                        <!-- Botão -->
                        <div>
                            <button type="submit" id="cadastrar_reserva" class="btn btn-primary">
                                Cadastrar Devolução
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </form>
      </div>
    </div>
{% endblock %}