{% extends 'base.html' %}

{% block titulo %} - Home{% endblock %}

{% block usuario %} Pedro {% endblock %}


{% block conteudo %}
<div class="card">
    <div class="card-body">
        <form class="row g-3" method="POST" action="{{ url_for('devolucao') }}">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Pesquisa ID</label>
                <input type="text" class="form-label" name="id_devolucao">
            </div>
        </form>
    </div>

        
<!-- for para a pesquisa do ID -->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Reserva ID: </h5>
        <p class="card-text">Ambiente:{{}} Chave:{{}} Data:{{}} Inicio da reserva:{{}} fim da reserva:{{}}</p>
        <hr>
        <p class="card-text"><small class="text-body-secondary">Reserva feita pelo perfil {{}} de matricula {{}} e cargo {{}}</small></p>
        <hr>
      </div>
    </div>
  </div>
</div>

{% endblock %}