{% extends 'base.html' %}

{% block titulo %} - Home{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3" method="POST" action="{{ url_for('historico') }}">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Perfil</label>
                <select name="perfil" class="form-select">
                    <option selected>Selecione um perfil...</option>
                    {% for perfil in perfils %}
                    <option value="{{ perfil.id_perfil }}">{{ perfil.nome_perfil }}</option>
                    {% endfor %}
                </select>
               <div class="row g-3" method="GET" action="{{ url_for('historico') }}" role="search">
                <div class="mb-3">
                  <label for="busca-chave" class="visually-hidden">Buscar historico de chave</label>
                  <input type="search" class="form-control" id="busca-chave" name="chave" placeholder="Buscar chave…">
                </div>
                <button type="submit" class="btn btn-contorno">Buscar</button>
              </div>
    
    <!-- table que mostra todo o historico -->
    <div class="table-responsive">
        <table class="table tabela-historico align-middle mb-0">
          <thead>
            <tr>
              <th>Chave</th>
              <th>Identificação</th>
              <th>Ambiente/Sala</th>
              <th>Data</th>
              <th>Horario Inicio</th>
              <th>Horario Fim</th>
              <th>Numero de Reserva</th>
            </tr>
          </thead>
          <tbody>
            {% for ambiente, perfil, chave, movimentacao in dados_historico %}
            <tr>
              <td>{{ chave.nome_chave }}</td>
              <td>{{ chave.identificacao }}</td>
              <td>{{ chave.ambiente }}</td>
              <td>{{ movimentacao.data|data_br }}</td>
              <td>{{ movimentacao.horario_inicio }}</td>
              <td>{{ movimentacao.horario_fim }}</td>
              <td>{{ movimentacao.id_reserva }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

{% endblock %}