{% extends 'base.html' %}

{% block titulo %} - Home{% endblock %}

{% block usuario %} Pedro {% endblock %}


{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3" method="POST" action="{{ url_for('movimentacao') }}">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Perfil</label>
                <select name="perfil" class="form-select">
                  <option selected>Selecione um perfil...</option>
                  {% for perfil in perfils %}
                  <option value="{{ perfil.id_perfil }}">{{ perfil.nome_perfil }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Ambiente</label>
                <select name="ambiente" class="form-select">
                    <option selected>Selecione o Ambiente</option>
                    {% for ambiente in ambientes %} 
                    <option value="{{ ambiente.id_ambiente }}">{{ ambiente.ambiente }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="inputAddress" class="form-label">Chave</label>
                <Select name="chave" class="form-select">
                    <option selected>Selecione a Chave</option>
                    {% for chave in chaves %} 
                    <option value="{{ chave.id_chave }}">{{ chave.nome_chave }}</option>
                    {% endfor %}
                </Select>
            </div>
            <div class="row col-12">

                <div class="col-7"></div>

                <div class="col-5">
                    <div class="d-flex align-items-end justify-content-end gap-2">

                        <!-- Data -->
                        <div>
                            <label for="dataReserva" class="form-label">Data</label>
                            <input type="date" class="form-control" id="dataReserva" name="data_movimentacao">
                        </div>

                        <!-- Horário -->
                        <div>
                            <label class="form-label">Horário</label>
                            <div class="d-flex align-items-center gap-1">
                                <input type="time" class="form-control" name="hora_inicio_movimentacao" id="horaInicio">
                                <span>:</span>
                                <input type="time" class="form-control" name="hora_fim_movimentacao" id="horaFim">
                            </div>
                        </div>

                        <!-- Botão -->
                        <div>
                            <button type="submit" id="cadastrar_reserva" class="btn btn-primary">
                                Cadastrar Movimentação
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </form>
      </div>
    </div>


<br>
<!-- card pesquisa -->
 <div class="card mb-3" id="card_chave">
    <h3 style="text-align: center;">Pesquisa Movimentação</h1>
    <hr>
    <div class="col-12">
    <div class="d-flex justify-content-center">
      <form class="d-flex" method="POST" action="{{ url_for('consultar_movimentacao') }}">
        <input type="text"class="form-control"id="formGroupExampleInput"placeholder="Pesquise o Movimentação" name="data_movimentacao">
        <button class="btn btn-primary" type="button">Buscar</button>
      </form>
    </div>
    </div>
    <hr>
<div class="d-flex gap-3">
{% for usuario, perfil, chave, ambiente, movimentacao reserva in movimentacoes %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
      <p class="card-text">Foto do usuario</p>
    <h5 class="card-title">{{ usuario.nome_usuario }}</h5>
    <h3 class="card-title">ID: {{ reserva.id_reserva }} Ambiente: {{ ambiente.ambiente }} Chave: {{ chave.indentificador }}</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{ movimentacao.data_movimentacao }}</li>
    <li class="list-group-item">{{ movimentacao.hora_inicio_movimentacao }}</li>
    <li class="list-group-item">{{ movimentacao.hora_fim_movimentacao }}</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-outline-warning">Editar</button>
    <button type="button" class="btn btn-outline-danger">Deletar</button>
  </div>
</div>
{% endfor %}
 
</div>
{% endblock %}