{% extends 'base.html' %}

{% block titulo %} - Cadastrar Usuario{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nome de Usuario</label>
                <input type="text" name="nome_usuario" class="form-control" placeholder="Nome do usuario">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Cargo</label>
                <input type="password" name="senha_usuario" class="form-control" placeholder="Cargo do Perfil">
            </div>
            <div class="col-6">
                <label for="inputAddress" class="form-label">Matricula</label>
                <input type="email" name="email_usuario" class="form-control" id="inputAddress" placeholder="Numero de Matricula">
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Foto do Usuario</label>
                <input type="file" class="form-control" name="foto_usuario" id="inputAddress2" >
            </div>
            <div class="col-12">
                <button type="submit" id="cadastrar_perfil" class="btn btn-primary">Cadastrar Perfil</button>
            </div>
        </form>
      </div>
    </div>
{% endblock %}