{% extends 'base.html' %}

{% block titulo %} - Home{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Perfil</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
<!-- Crirar for para Ambientes -->
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Ambiente</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
<!-- Criar for para chaves -->
            <div class="col-6">
                <label for="inputAddress" class="form-label">Chave</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="row col-12">

                <div class="col-7"></div>

                <div class="col-5">
                    <div class="d-flex align-items-end justify-content-end gap-2">

                        <!-- Data -->
                        <div>
                            <label for="dataReserva" class="form-label">Data Reserva</label>
                            <input type="date" class="form-control" id="dataReserva">
                        </div>

                        <!-- Horário -->
                        <div>
                            <label class="form-label">Horário Reserva</label>
                            <div class="d-flex align-items-center gap-1">
                                <input type="time" class="form-control" id="horaInicio">
                                <span>:</span>
                                <input type="time" class="form-control" id="horaFim">
                            </div>
                        </div>

                        <!-- Botão -->
                        <div>
                            <button type="submit" id="cadastrar_reserva" class="btn btn-primary">
                                Cadastrar Reserva
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </form>
      </div>
    </div>
{% endblock %}