{% extends 'base.html' %}

{% block titulo %} - Cadastrar Usuario{% endblock %}

{% block usuario %} Pedro {% endblock %}

{% block conteudo %}
    <div class="card">
      <div class="card-body">
        <form class="row g-3" method="POST" action="{{ url_for('usuario') }}">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nome de Usuario</label>
                <input type="text" name="nome_usuario" class="form-control" placeholder="Nome do usuario">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Senha</label>
                <input type="password" name="senha_usuario" class="form-control" placeholder="Coloque uma senha">
            </div>
            <div class="col-6">
                <label for="inputAddress" class="form-label">E-mail</label>
                <input type="email" name="email_usuario" class="form-control" id="inputAddress" placeholder="joao@senac.df.br">
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Perf</label>
                <select name="perfil" class="form-select">
                  <option selected>Selecione um perfil...</option>
                  {% for perf in perfils %}
                  <option value="{{ perfil.id_perfil }}">{{ perfil.nome_perfil }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-12">
                <button type="submit" id="cadastrar_usuario" class="btn btn-primary">Cadastrar Usuario</button>
            </div>
        </form>
      </div>
    </div>

<!-- card pesquisa -->
 <div class="card mb-3" id="card_chave">
    <h3 style="text-align: center;">Pesquisa Chave</h1>
    <hr>
    <div class="col-12">
    <div class="d-flex justify-content-center">
        <input type="text"class="form-control"id="formGroupExampleInput"placeholder="Pesquise a chave">
        <button class="btn btn-primary" type="button">Buscar</button>
    </div>
    </div>
    <hr>
<div class="d-flex gap-3">
<!-- for para cada chave -->
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nome da chave</h5>
    <p class="card-text">identificador</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Observação</li>
    <li class="list-group-item">Disponivel</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-outline-warning">Editar</button>
    <button type="button" class="btn btn-outline-danger">Deletar</button>
  </div>
</div>
<!-- final for -->
 
</div>
{% endblock %}