#cabecalho{
    min-height: calc(20vh - 140px);
    /* background-color: blue; */
    border-radius: 5px;
    margin-bottom: 0px;
}


#conteudo{
    background-color: #E0DEDE;
    min-height: calc(100vh - 140px);
    /* border: 5px solid black; */
    margin: 0em 0em 0em;
    padding: 8em;
    margin-top: 0em;
    
}

#rodape{
    background-color: #80c3f3;
    padding: 6em;
}

#cadastro{
    margin-left: 45em;
    margin-top: 14em;
}

#cardPrincipal{
    margin-left: 38em;
    margin-top: 10em;
}

.navbar-custom{
    background-color: #F58220;
}

.div-custom{
    background-color: #F58220;
}

/* #card_chave{ */
    /* margin-left: 25em;
    margin-top: 5em;
    width: 50%;
} */

#nome_card{
    margin-left: 25em;
    margin-top: 5em;
    width: 50%;
    margin-bottom: 0px;
}

#tema_chave{
    margin: 8px 0px 0px;
}

#cadastrar_chave, #cadastrar_ambiente{
    margin-left: 91em;
    margin-bottom: 0em;
}


#cadastrar_usuario{
    margin-left: 89em;   
}

#cadastrar_perfil{
    margin-left: 90em; 
}